* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: barlow;
}

.container {
  max-width: 1200px;
}
@media (max-width: 920px) {
  .container {
    padding: 20px;
  }
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 33px;
}
.header .header__logo {
  margin-left: 0;
  margin-right: 680px;
}
.header .header__logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.header .header__logo a p {
  color: #333D4B;
  width: 203px;
  height: 24px;
  font-size: 28px;
}

.header__list {
  display: flex;
  gap: 30px;
}

.header__list li {
  list-style: none;
}

.header__list li a {
  text-decoration: none;
  color: #83888f;
  font-weight: 700;
  font-size: 12px;
}

.header__list li a:hover {
  color: black;
  transition: 0.5s ease;
}

.section-banner {
  position: relative;
  margin-bottom: 155px;
}

.banner {
  border-radius: 5px;
}

.banner-text {
  position: absolute;
  color: white;
  padding-top: 134px;
  padding-left: 86px;
  z-index: 1;
  top: 30px;
}

.banner-text h2 {
  font-family: Fraunces;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  width: 485px;
  height: 72px;
}

.banner-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 445px;
  height: 78px;
  margin-top: 32px;
  margin-left: 0;
}

.first-main-sec {
  width: 1200px;
  height: 653px;
  background: #2c343e;
  border-radius: 10px;
}

.three_boxes {
  display: flex;
  font-family: Fraunces;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  left: 165px;
}

.instruction_1-box {
  margin-left: 0;
}

.instruction_1-box h2 {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.instruction_1-box h3 {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #FEFCF7;
  margin-top: 38px;
  margin-bottom: 42px;
}

.instruction_1-box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #fefcf7;
  width: 285px;
  height: 130px;
}

.instruction-box h2 {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.instruction-box h3 {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #fefcf7;
  margin-top: 38px;
  margin-bottom: 42px;
}

.instruction-box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #fefcf7;
  width: 285px;
  height: 130px;
}

.drink-coffee {
  display: flex;
  margin-top: 168px;
}

.box {
  display: flex;
  cursor: pointer;
  margin-bottom: 24px;
}

.box:hover {
  color: #333d4b;
}

.box:active {
  color: #333d4b;
}

.box h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #0e8784;
}

.box p {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}

.box__line {
  width: 255px;
  height: 1px;
  background: #83888f;
}

.big-boxes {
  margin-left: 125px;
}

.big-boxes__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888f;
}

.small-boxes {
  width: 228px;
  height: 200px;
  background: #f4f1eb;
  border-radius: 8px;
  padding-left: 28px;
  padding-top: 32px;
  display: inline-block;
  margin-right: 30px;
  margin-top: 56px;
  cursor: pointer;
}

.small-boxes h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}

.small-boxes p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  width: 172px;
  height: 78px;
  margin-top: 24px;
}

.small-boxes:hover {
  background: #fdd6ba;
}

.small-boxes:active {
  background: #0e8784;
}

.types {
  margin-top: 88px;
  margin-bottom: 88px;
}

.how-much {
  margin-bottom: 88px;
}

.grind-coffee {
  margin-bottom: 88px;
}

.order {
  background: #2C343E;
  border-radius: 10px;
  width: 730px;
  height: 208px;
  margin-top: 115px;
  margin-left: 380px;
}

.order h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
  padding-top: 31px;
  padding-left: 64px;
}

.order p {
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
  padding-left: 64px;
  margin-top: 8px;
  width: 602px;
  height: 120px;
  margin-left: 0;
}

.order__btn {
  background: #66D2CF;
  border-radius: 6px;
  width: 217px;
  height: 56px;
  border: none;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  cursor: pointer;
  margin-left: 890px;
  margin-top: 40px;
}

.about-us__info {
  background-image: url(../../img/about-us\ banner.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 137px;
  padding-bottom: 137px;
  border-radius: 5px;
}
.about-us__info h2 {
  font-weight: 900;
  line-height: 48px;
  font-size: 40px;
  color: #fff;
  width: 188px;
  height: 48px;
  margin-bottom: 24px;
  margin-left: 85px;
}
.about-us__info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  width: 445px;
  height: 104px;
  margin-left: 85px;
}

.footer {
  background: #2c343e;
  height: 120px;
  display: flex;
  margin-top: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.footer a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.footer a p {
  color: #FEFCF7;
  width: 203px;
  height: 24px;
  font-size: 28px;
}

.section-2_footer__list {
  display: flex;
  gap: 20px;
}

.section-2_footer__list li a:hover {
  color: #ffffff;
  transition: 0.5s ease;
}

.section-2_footer__list li {
  list-style: none;
}

.section-2_footer__list li a {
  text-decoration: none;
  color: #83888f;
  font-weight: 700;
  font-size: 12px;
}

.section-main {
  margin-top: 100px;
}
.section-main .section-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-main .section-info span {
  margin-right: 125px;
}
.section-main .section-info span img {
  border-radius: 5px;
}
.section-main .section-info h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin-bottom: 32px;
  width: 657px;
  height: 48px;
}
.section-main .section-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  width: 540px;
  height: 260px;
  margin-left: 0;
}

.quality {
  width: 1200px;
  height: 474px;
  background-color: #333D4B;
  border-radius: 5px;
  margin-top: 100px;
  position: relative;
}
.quality .quality__info {
  display: flex;
}
.quality .quality__info img {
  margin-top: -82px;
  margin-left: 125px;
}
.quality .quality__info .quality__text {
  margin-top: 100px;
}
.quality .quality__info .quality__text h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  width: 517px;
  height: 48px;
  margin-left: 85px;
  margin-bottom: 32px;
  color: #FEFCF7;
}
.quality .quality__info .quality__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 540px;
  height: 130px;
  margin-left: 85px;
  color: #FEFCF7;
}

.countries-title {
  margin-top: 168px;
}
.countries-title h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 72px;
  margin-left: 85px;
}
.countries-title .countries {
  display: flex;
  align-items: center;
  gap: 85px;
}
.countries-title .countries .uk h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 25px;
}
.countries-title .countries .uk ul {
  list-style-type: none;
  gap: 20px;
}
.countries-title .countries .uk ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.coffee_photo {
  position: absolute;
  width: 1200px;
  height: 600px;
  border-radius: 4px;
}

.made_coffee {
  position: relative;
  z-index: 1;
  margin-left: 86px;
  padding-top: 117px;
  margin-bottom: 234px;
}

.made_coffee__title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin-bottom: 32px;
  width: 493px;
  height: 145px;
  margin-left: 0;
}

.made_coffee__text {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  width: 445px;
  height: 78px;
  margin-left: 0;
}

.made_coffee__btn {
  margin-top: 56px;
  background: #0e8784;
  border-radius: 6px;
  text-align: center;
  color: #fefcf7;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  width: 217px;
  height: 56px;
  cursor: pointer;
}

.collection {
  position: relative;
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #fefcf7 100%);
  text-align: center;
  align-items: center;
}

.collection__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 150px;
  line-height: 72px;
  text-align: center;
  color: #83888f;
}

.type_coffees {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.espresso {
  z-index: 10;
  top: -50px;
}

.espresso h4 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
  margin-top: 50px;
  margin-bottom: 24px;
}

.espresso p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
  width: 255px;
  height: 78px;
}

.about-us {
  border-radius: 10px;
  width: 1200px;
  height: 577px;
}

.about-us h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
  padding-top: 120px;
}

.about-us p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  width: 540px;
  height: 80px;
  margin-top: 32px;
}

.boxes-coffee {
  display: flex;
  margin-top: -180px;
}

.box_coffee {
  background: #0e8784;
  width: 350px;
  height: 300px;
  border-radius: 8px;
  left: 165px;
  top: 1920px;
  text-align: center;
}

.box_coffee img {
  margin-top: 72px;
}

.box_coffee h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #fefcf7;
  margin-top: 36px;
}

.box_coffee p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  width: 255px;
  height: 78px;
}

.our-system h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-top: 200px;
  margin-bottom: 80px;
}

.three_boxes {
  display: flex;
  font-family: Fraunces;
  align-items: center;
  justify-content: space-around;
  padding-top: 150px;
}

.instruction_1 {
  margin-left: 0;
}

.instruction_1 h2 {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.instruction_1 h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
  margin-top: 38px;
  margin-bottom: 42px;
}

.instruction_1 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  width: 285px;
  height: 130px;
}

.instruction h2 {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.instruction h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
  margin-top: 38px;
  margin-bottom: 42px;
}

.instruction p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  width: 285px;
  height: 130px;
}

.our-system__btn {
  background: #0e8784;
  border-radius: 6px;
  width: 217px;
  height: 56px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  margin-top: 80px;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */