.order{
    background: #2C343E;
border-radius: 10px;
width: 730px;
height: 208px;
margin-top: 115px;
margin-left: 380px;
}
.order h3{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #ffff;
padding-top: 31px;
padding-left: 64px;
}
.order p{
    font-weight: 900;
font-size: 24px;
line-height: 40px;
color: #FFFFFF;
padding-left: 64px;
margin-top: 8px;
width: 602px;
height: 120px;
margin-left: 0;
}
.order__btn{
    background: #66D2CF;
border-radius: 6px;
width: 217px;
height: 56px;
border: none;
font-weight: 900;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FEFCF7;
cursor: pointer;
margin-left: 890px;
margin-top: 40px;
}