.first-main-sec {
  width: 1200px;
  height: 600px;
  background: #2c343e;
  border-radius: 10px;
}
.three_boxes {
  display: flex;
  font-family: 'Fraunces';
  align-items: center;
  justify-content: space-between;
  padding-top: 150px;
  padding-left: 50px;
  left: 165px;
}
.instruction_1-box {
  margin-left: 0;
}
.instruction_1-box h2 {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.instruction_1-box h3 {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: $primary-color-quality-text;
  margin-top: 38px;
  margin-bottom: 42px;
}
.instruction_1-box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #fefcf7;
  width: 285px;
  height: 130px;
}
.instruction-box h2 {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.instruction-box h3 {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #fefcf7;
  margin-top: 38px;
  margin-bottom: 42px;
}
.instruction-box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #fefcf7;
  width: 285px;
  height: 130px;
}
