.section-main {
  margin-top: 168px;
  .section-info {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin-right: 125px;
      img {
        border-radius: 5px;
      }
    }
    h2 {
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      color: $primary-color-title;
      margin-bottom: 32px;
      width: 657px;
      height: 48px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $primary-color-title;
      width: 540px;
      height: 260px;
      margin-left: 0;
    }
  }
}
