.section-banner{
    position: relative;
    margin-bottom: 155px;
}
.banner{
    border-radius: 5px;
}
.banner-text{
    position: absolute;
    color:#ffff;
    padding-top: 134px;
    padding-left: 86px;
    z-index: 1;
    top: 30px;
}
.banner-text h2{
    font-family: Fraunces;
    font-weight: 900;
font-size: 72px;
line-height: 72px;
width: 485px;
height: 72px;
}
.banner-text p{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
width: 445px;
height: 78px;
margin-top: 32px;
margin-left: 0;
}